name: Formatting

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  dotnet-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore tools
        run: dotnet tool restore

      - name: Verify formatting
        run: dotnet format tools/formatting/ZardaFormatting.slnx --verify-no-changes
